<!-- Login del cliente -->

<h2 mat-dialog-title>Iniciar sesión</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>


<!--

<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black  me-1"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user fs-5 me-1" style="color: #202122;"></i>
                        </a>
                        <ul class="dropdown-menu" style="left:-50px" aria-labelledby="navbarDropdown">
                            @if (loggedUSerData) {
                            <li>
                                <div class="d-flex justify-content-evenly mt-2">
                                    <a  > <button class="btn btn-danger rounded-0 px-3">{{loggedUSerData.name }}
                                        </button>
                                    </a>
                                    <a  > <button class="btn btn-danger rounded-0 px-3" (click)="logOff()">LogOff</button></a> 
                                </div> 
                            </li>
                            } @else {
                                <li>
                                    <div class="d-flex justify-content-evenly mt-2">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#loginModel"> <button
                                                class="btn btn-danger rounded-0 px-3">Login</button></a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#myModal"> <button
                                                class="btn btn-danger rounded-0 px-3">Register</button></a>
                                    </div>
    
                                </li>
                            }
                            

                        </ul>
                    </li>

-->